
.menu {
    display: flex;
    .home-menu {
        display: flex;
        li {
            padding-right: 1em;
            font-weight: bold;
            color: #747479;
            @media (min-width: 600px) {
                padding: 1em;
            }
            &:hover {
                color: #4731D4;
            }
        }
        div {
            @media (min-width: 600px) {
                display: flex;
                justify-content: end;
            }
        }
    }
}

p {
    color: #333;
}

.Light {
    p {
        color: #333;
    }
    .title {
        color: #4731D4;
    }
    .tags {
        color: #5944e4;
    }
    .project-hero {
        background-color: #F5F2FF;
    }
    h3 {
        color: #4731D4;
    }
    .design-process-bg {
        background-color: #F5F2FF;
    }
}

.Dark {
    p {
        color: #fff;
    }
    .title {
        color: #fff;
    }
    .tags {
        color: #BAA3F7;
    }
}

.ux::after {
    content: "";
    background-color: #f67491;
    position: absolute;
    top: 40px;
    left: 1px;
    width: 145px;
    z-index: -1;
    height: 31px;
}

.text-decoration {
    position: relative;
    z-index: 1;
}

.text-decoration::after {
    content: "";
    background-color: #ccf281;
    position: absolute;
    top: 27px;
    left: -6px;
    z-index: -1;
    width: 160px;
    height: 24px;
}

.portfolio-title::after {
    content: "";
    background-color: #fcb5c4;
    position: absolute;
    top: 35px;
    left: -6px;
    z-index: -1;
    width: 207px;
    height: 24px;
}

.skills-title::after {
    content: "";
    background-color: #ccf281;
    position: absolute;
    top: 23px;
    left: 71px;
    width: 221px;
    z-index: -1;
    height: 23px;
}

@media (min-width: 800px) {
    .contact-underline::after {
        content: "";
        background-color: #F67491;
        position: absolute;
        top: 25px;
        left: 4px;
        width: 167px;
        z-index: -1;
        height: 19px;
    }
}

.skills {
    li {
        list-style: none;
    }
}

.project-item:nth-child(4) {
    background: #BAA3F7;
    transition: all 0.5s ease-out;
    &:hover {
        background: #9782F3;
        .arrow {
            background: #7459ED;
            transition: all 0.5s ease-out;
        }
    }
}
.project-item:nth-child(5) {
    background: #F67491;
    transition: all 0.5s ease-out;
    &:hover {
        background: #F74B78;
        .arrow {
            background: #EB2E60;
            transition: all 0.5s ease-out;
        }
    }
}
.project-item:nth-child(6) {
    background: #FBB558;
    transition: all 0.5s ease-out;
    &:hover {
        background: #F7A211;
        .arrow {
            background: #F1862F;
            transition: all 0.5s ease-out;
        }
    }
}
.project-item:nth-child(1) {
    background: #3FE6C2;
    transition: all 0.5s ease-out;
    &:hover {
        background: #34C5A1;
        .arrow {
            background: #1A9D81;
            transition: all 0.5s ease-out;
        }
    }
}
.project-item:nth-child(2) {
    background: #F7B5A9; transition: all 0.5s ease-out;
    &:hover {
        background: #FF968F;
        .arrow {
            background: #FC685D;
            transition: all 0.5s ease-out;
        }
    }
}
.project-item:nth-child(3) {
    background: #638DFF; transition: all 0.5s ease-out;
    &:hover {
        background: #537CF6;
        .arrow {
            background: #3E6AEC;
            transition: all 0.5s ease-out;
        }
    }
}

.content-blocks {
    .content-block:nth-child(odd) {
        .content-block-text {
            order: 2;
        }
    }
    .content-block {
        .content-block-image {
            @media (max-width: 500px) {
                padding-top: 2rem;
            }
        }
    }
}

.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	font-size: 12px;
	padding: 10px 17px;
	display: none;
    cursor: pointer;
    background-color: #F5F2FF;
    border-radius: 50%;
    transition: all 0.2s ease;
    &:hover {
        background-color: #dbd9e1;
    }
}

.content-block-image {
    img {
        border-radius: 25px;
    }
}

.Dark {
    background-color: #333;
    color: white;
    .project-hero {
        background-color: #3C3C49;
    }
    h3 {
        color: #DED3FD;
    }
    .design-process-bg {
        background-color: #3C3C49;
    }
    .contact {
        margin-top: 2rem;
    }
}

//SLIDER


.slick-prev, .slick-next {
    background: none;
    border: none;
    cursor: pointer;
  }

.slick-prev {
    top: 660px !important;
    left: 50px !important;
}

.slick-next {
    top: 660px !important;
    right: 50px !important;
}

@media (min-width: 500px) {  
    .slick-prev {
        top: 50% !important;
        left: -50px !important;
    }
    
    .slick-next {
        top: 50% !important;
        right: -50px !important;
    }
}
  
  .slick-prev svg, .slick-next svg {
    width: 24px;
    height: 24px;
    color: #000; /* Adjust color */
  }

  .slick-prev:before {
    content: '' !important;
  }
  .slick-next:before {
    content: '' !important;
  }

  .slick-dots li button:before {
    font-size: 30px !important;

  }

  .slick-dots {
    bottom: -70px !important;
  }

.Light {
    .slick-dots li.slick-active button:before {
        color: #3FE6C2 !important;
    }
    .slick-dots:hover {
        button:before {
            color: #3FE6C2 !important;
        }
    }
}

.Dark {
    .slick-dots li.slick-active button:before {
        color: #9782F3 !important;
    }
    .slick-dots:hover {
        button:before {
            color: #9782F3 !important;
        }
    }
    .slick-dots li button::before {
        color: #DED3FD;
    }
}
.slick-next svg, .slick-prev svg {
    background: white;
    border-radius: 50px;
}

.icon {
    width: 28px;
    height: 29px;
    transition: stroke 0.2s ease;
}


.phone {
    &:hover {
        .icon {
            path  {
                stroke: #fff;
                transition: stroke 0.2s ease;
            }
        }
    }
}
.email {
    &:hover {
        .icon {
            path  {
                stroke: #fff;
                transition: stroke 0.2s ease;
            }
            rect  {
                stroke: #fff;
                transition: stroke 0.2s ease;
            }
        }
    }
}